html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation-wrap {
  display: flex;
  align-items: center;
}

.wrap {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color:#ffffff;
}

ul {
  list-style: none;
}

.header-logo {
  background-color: #ee3643;
  width: 220px;
  height: 42px;
  text-align: center;
  box-shadow: 0px 5px 0px 0px #b52933;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo a:hover {
  background-color: #ee3643;
}

.main-header {
  background-color: #f3f7f9;
}

.main-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}


.navigation-top {
  background-color: #293449;
  display: flex;
  padding: 0;
  margin: 0 0 0 auto;
  align-items: center;
}

.search {
  margin-left: 20px;
}

.basket {
  margin: 0 30px 0 50px;
}

.marks {
  margin-right: 45px;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .user-navigation li a {
  color: #000000;
} */

.order-green {
  width: 151px;
  height: 42px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-green a{
  display: block;
  height: 100%;
  width: 100%;
  padding: 13px 10px 11px 10px;
  background-color: #63a63e
}
.order-green a:hover {
  background-color: #5fbb2d;
}

.order-green a:focus {
  background-color: #518534;
}

.about {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style:italic;
  width: 190px;
  padding: : 0;
  margin: 45px 35px 40px 50px;
}

.contacts-info {
  min-width: 270px;
  margin: 0 32px 0 35px;
  padding: 0;
}

.number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;
  border: 3px  solid white;
  min-width: 271px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 46px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  padding-bottom: 39px;
  margin:  0;
}

.user-navigation {
  max-width: 100%;
  display: flex;
  margin:0;
}


.login-link a,
.registration-link a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

}

.login-link {
  min-width: 121px;
  padding: 14px 27px 10px 48px;
  background-color: #ffffff;
  margin-right: 10px;
}

.registration-link {
  min-width: 150px;
  padding: 13px 25px 11px 25px;
  background-color: #ffffff;
}

.login-link a:hover,
.registration-link a:hover {
  color: #ee3643;
}

.login-link a:focus,
.registration-link a:focus {
  opacity: 0.3%;
}

.navigation {
  background-color: #32425c;
  box-shadow: 0px 5px 0px 0px #293449;
  margin-bottom: 60px;
}

.navigation a:hover,
.site-navigation-menu a:hover {
  background-color: #212a3a;
}

.navigation a:focus
.navigation-top a:focus {
  background-color: #161d29;
}

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.site-navigation a {
  display: block;
  padding: 21px 30px 17px 30px;
}

.site-navigation-menu:first-child a {
  padding-left: 52px;
}

.site-navigation-menu:last-child a {
  padding-left: 52px;
}


.contain-menu {
  display: flex;
}


.title-menu {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  padding: 22px 0 10px 23px;
  margin: 0;
}

.materials-menu {
width: 300px;
height: 125px;
background-color: #ffbf47;
}


.popular-goods {
  background-color: #f9f5f0;
  height: 89px;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popular-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 29px 0 30px 30px;
}

.red-button {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  min-width: 253px;
  max-width: 100%;
  border-radius: 2px;
  padding: 9px 10px;
  margin-right: 24px;
  text-align: center;
}



.popular-item,
.goods-item {
  width: 220px;
  border: 1px solid #eaeaea;
  padding: 2px;
  margin-bottom: 20px;
}

.goods-about {
  display: flex;
  flex-direction: column;
align-content: flex-start;
  height: 100%;
  margin: 0;
  padding: 0;
}

.goods-img {
  display: block;
  width: 100%;
  margin-bottom: 9px;
}

.popular-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 20px;
}

.popular-list li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.goods-title {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin:0;
  margin-bottom: 11px;
  min-height: 40px;
  padding: 0 25px;
}

.goods-price {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 38px;
  height: 38px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;
  margin-bottom: 9px;
  vertical-align: middle;
  margin-top: 0;
}

.goods-price-new {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  padding: 10px;
  margin: 0 auto 20px;
  width: 122px;
  position: relative;
   border-radius: 3px;
}

.goods-price-new::after {
  content: "";
  width: 1px;
  height: 1px;

  border: 19px solid transparent;
  border-left: 19px solid #ee3643;
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 3px;
}

.goods-about .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.goods-about .flag-new {
  background: url("img/index-img/new_flag.png") no-repeat 0 0;
}

.goods-buy {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  opacity: 0.9;
  padding: 40px 43px;
}

/* .goods-buy:hover {
   display: flex;
 } */


.btn-buy  {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #63a63e;
  border-radius: 2px;
  box-shadow: 0px 3px 0px 0px #367315;
  padding: 10px 45px 10px 50px;
  margin-bottom: 7px;
  width: 100%;
}

.btn-save {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;
  border: 3px  solid #63a63e;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 7px 30px 7px 30px;
  min-width: 135px;
}

.popular-brands {
  background-color: #f9f5f0;
  height: 89px;
  width: 940px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popular-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}



.brands-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brands-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;

}

.main-service {
  background-color: #f4f7f9;
  margin-bottom: 75px;
}


.slider-main {
  display:flex;
  justify-content: space-between;
}


.service {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  padding-top: 64px;
  padding-bottom: 25px;
  margin: 0;
}

.service-buttons {
  background-color: #32425c;
  height: 187px;
  width: 240px;
}


/* скрытые два слайда с гарантией и кредитом */
.slider li:nth-child(2),
.slider li:last-child {
  display: none;
}


.slider img {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right:0;
}

.slider {
  width:630px;
  padding: 0;
  margin: 0;
  position: relative;
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  padding-bottom: 25px;
  margin: 0;
}

.slider-about-service {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  width: 400px;
  padding-bottom: 65px;
  margin: 0;
}


.slider-about {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  width: 280px;
  padding-bottom: 68px;
  margin: 0;
}

.button-credit {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff5357;
  width: 196px;
  height: 38px;
  border:none;
}

.map {
  margin-bottom: 40px;
}

.about-company {
  display: inline-block;
  width: 540px;
  padding: 0;
  margin: 0 75px 0px 0;
}

.about-company h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 30px 0;
}

.slider-about-company  {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0 0 24px;
}

.slider-about-company.small-margin {
  margin: 0 0 21px;
}


.button-about {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 5px;
  min-width: 220px;
  max-width: 100%;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 2px;
  margin-bottom: 86px;
  text-align: center;
}

.information {
  display: flex;
}

.wrap-contacts {
  display: inline-block;
  width: 320px;
  margin-bottom: 85px;
  float: right;
  padding: 0;
  margin: 0;
}

.map-img {
  min-width: 300px;
  margin: 0 0 40px;
}

.write-us-btn {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border-radius: 2px;
  min-width: 300px;
  max-width: 100%;
  padding: 10px 5px;
  margin-bottom: 86px;
}

.company-contacts  {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 400;
}

.slider-about-contacts {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  width: 190px;
  margin: 0 0 30px;
}



.list {
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.list li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 20px 0;
}

.list li:last-child {
  margin: 0 0 35px 0;
}

.redline {
  color: #ee3643;
}


.main-footer {
  background-color: #32425c;
}
.footer-top {
  display: flex;
}

.footer-description {
  display: inline-block;
}

.header-logo.footer {
  margin: 0 0 29px;
}

.footer-menu {
  display: inline-block;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  min-width: 330px;
  padding: 0;
  margin-bottom:  51px;
  margin-top: 0;

}

.footer-navigation {
  display: flex;
  padding-top: 38px;
  padding: 0;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color:#ffffff;
  list-style: none;
  display: inline-block;
  padding: 39px 30px 34px 30px;

}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
  color:  #9ea5af
}

.footer-catalog {
  display: flex;
  margin-left:30px;
}

.footer-catalog a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffd180;
  list-style: none;
  display: inline-block;
  padding: 0px 30px 73px 30px;

}

.footer-catalog a:hover {
  text-decoration: underline;
}

.footer-catalog a:focus {
  color: #ad956f;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #293449;
}
.footer-bottom-wrap {
  display: flex;
  justify-content: space-between;
}

.visually-hidden {
  display: none;
}

.copyright  {
  font-size: 16px;
  line-height: 18px;
  color: #f3f7f9;
  width: 240px;
  margin: 38px 0 33px;
  padding: 0;

}

.social  {
  list-style: none;
  text-decoration: none;
  display: block;
  padding: 0;
  margin-top: 35px;
  vertical-align: middle;
}

.social li {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  background-color: #212a3a;
}

.white-wrap {
  width: 300px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 38px 0 33px 0;
}

.white {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.gold {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}


/* catalog */

 .basket-catalog {
  background-color: #ee3643;
  width: 151px;
  height: 42px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 20px;
}

.user {
  min-width: 300px;
  padding: 0;


}

.name-id {
  max-width: 100%;
  display: inline-block;
  background-color: #ffffff;
 padding: 13px 10px 11px 10px;
 justify-content: center;
 align-items: center;
margin: 0;
}

.name-id a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

.name-id a:hover {
  color: #000000;
}

.name-id a:focus {
  color: #000000;
  opacity:30%;
}

.user-area {
  display: flex;
justify-content: center;
margin:0;
padding: 0;
}

.user-area a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  padding: 0 15px 45px 15px;
}

.user-area a:hover {
  color: #ee3643;
}

.user-area a:focus {
  color: #32425c;
  opacity: 30%;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.breadcrumbs a {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding: 21px;
  text-transform: uppercase;
}

/* .breadcrumbs a:first-child {
  padding-left: 0px;
} */

.breadcrumbs a::after {
  content:"";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  z-index: 1;
  top: 21px;
  right: 0px;
  box-shadow: 1px 1px 0 1px #dddddd;
  border-radius: 50px 0 0 0;
  transform: rotate(-45deg) scale(0.6);
}


.perforators-title h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
  padding: 25px 0 25px 30px;
}

.perforators {
  background-color: #f2f6f8;
  margin-bottom:  20px;
}

/* .breadcrumbs a {
  display: flex;
} */

.catalog-contain {
  display:flex;
}

.filters {
  width: 220px;
  padding: 0;
  margin-right: 20px;
}

.filters p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
  min-width: 220px;
  padding: 10px 0 10px 20px;
  margin: 0;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid #7c1d1d;
  border-radius: 2px;
  background-color: transparent;
}

.catalog-sorting {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 700px;
}

.sorting {
 background-color: #f7f3ec;
 margin-bottom: 20px;
 max-height: 38px;
}


.sorting-by {
  max-height: 38px;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

.sorting-by span{
  display:block;
  float: left;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 10px 19px;
}

.sorting-by li {
  display: inline-block;
  padding: 10px 36px;
}

.sorting-by a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  opacity: 0.3%;
  text-align: center;
  border-bottom: dashed solid #ee3643;
}


.sorting-by.up-down a {
  display: flex;
  justify-content: flex-end;

}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  margin: 0;
}


.paginator {
  position: relative;
  left: -427px;
  margin: 52px 0 60px auto;
}

.paginator a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  min-width: 40px;
  height: 40px;
  padding: 0 10px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  text-decoration: none;
  color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  text-transform: uppercase;
}


.paginator .next {
min-width: 140px;
}

.paginator .current {
  color: white;
  background-color: #ee3643;
}

.paginator a:hover {
  border: 1px solid #bdc6ca;
}

.paginator a:focus {
  border: 1px solid #ee3643;
}


.perforators-main {
  background-color: #f2f6f8;
}

.perforators-about h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  padding: 64px 0 28px 0;
  margin: 0;
}

.perforators-about p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  max-width: 100%;
  padding-bottom: 67px;
  margin: 0;
}
