html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.main-navigation-wrap {
  display: flex;
  align-items: center;
}

.wrap {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color:#ffffff;
}

ul {
    list-style: none;
}

 .header-logo{
     background-color: #ee3643;
     width: 220px;
     height: 42px;
     text-align: center;
     box-shadow: 0px 5px 0px 0px #b52933;
     display: flex;
     align-items: center;
     justify-content: center;
}

.header-logo a:hover {
  background-color: #ee3643;
}

.main-header {
  background-color: #f3f7f9;
}

.main-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.navigation,
.navigation-top,
.user-navigation,
.site-navigation,
.popular-list,
.brands-list,
.slider {
  list-style: none;
}

.navigation-top {
  background-color: #293449;
  display: flex;
  padding: 0;
  margin: 0 0 0 auto;
  align-items: center;
}

.search {
  margin-left: 20px;
}

.basket {
  margin-right: 30px;
}

.marks {
  margin-right: 45px;
}

.contacts-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 158px;
}

.user-navigation li a {
  color: #000000;
}

.login-link,
.registration-link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-link {
  width: 122px;
  height: 45px;
  background-color: #ffffff;
}

.registration-link {
  width: 150px;
  height: 45px;
  background-color: #ffffff;
}

.navigation {
  background-color: #32425c;
  box-shadow: 0px 5px 0px 0px #293449;
  height: 55px;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  display: flex;
}

.order-green {
    background-color: #63a63e;
    width: 151px;
    height: 42px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style:italic;
  height: 59px;
  width: 190px;
}

.number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  text-align: center;
  border: 3px  solid white;
  width: 271px;
  height: 46px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.navigation a:hover,
.navigation-top a:hover {
background-color: #212a3a;
}

.navigation a:focus
.navigation-top a:focus {
background-color: #161d29;
}

/* <!--здесь будет основной сервис сайта --> */

.popular-goods {
 background-color: #f9f5f0;
 height: 89px;
 width: 940px;
 padding: 0 10px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
}

.red-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  width: 254px;
  height: 39px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 0 0 auto;
  margin-right: 24px;
}

.popular-item,
.goods-item {
  width: 220px;
  height: 317px;
  border: 1px solid #eaeaea;

}

.popular-list li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
}

.goods-title {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.goods-price {
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.goods-price-new {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  width: 141px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-buy  {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #63a63e;
  width: 135px;
  height: 35px;
  border-radius: 2px;
  box-shadow: 0px 3px 0px 0px #367315;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.btn-save {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;
  border: 3px  solid #63a63e;
  border-radius: 2px;
  width: 135px;
  height: 38px;
  background-color: transparent;
  display: none;
}

.popular-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.popular-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 29px;
}

.popular-brands {
  background-color: #f9f5f0;
  height: 89px;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 21px;
}

.brands-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 21px;
}


.main-service {
    background-color: #f4f7f9;
}


.service {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.slider-about {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.slider-title {
    font-size: 36px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

/* ??? */
 .button-credit {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff5357;
  width: 196px;
  height: 38px;
  border:none;
}

.about-company h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}


.company-contacts  {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}


.company-contacts p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.list li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.redline {
    color: #ee3643;
  }

      /* ?????????   прилип к футеру????????? */
/* .write-us {
    position: absolute;
} */



.main-footer {
  background-color: #32425c;
}


.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color:#ffffff;
  list-style: none;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:focus {
 color:  #9ea5af
}

.footer-catalog a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffd180;
  list-style: none;
}

.footer-catalog a:hover {
  text-decoration: underline;
}

.footer-catalog a:focus {
 color: #ad956f;
}

.footer-bottom {
  background-color: #293449;
}

.copyright  {
  font-size: 16px;
  line-height: 18px;
  color: #f3f7f9;
}

.footer-social {
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.white {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.gold {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}




/* catalog */

.basket-red {
  background-color: #ee3643;
  width: 151px;
  height: 42px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-id a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.name-id a:hover {
  color: #000000;
}

.name-id a:focus {
  color: #000000;
  opacity:30%;
}

.user-area a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-area a:hover {
color: #ee3643;
}

.user-area a:focus {
  color: #32425c;
  opacity: 30%;
}

.perforators-title h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.perforators {
  background-color: #f2f6f8;
}

.sorting {
  background-color: #f7f3ec;
}

.sorting p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

/* .sorting-by ??? */

.perforators-about h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.perforators-about p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
